@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
$principal-font: 'Times New Roman', sans-serif;
$secondary-font: 'Roboto Slab', sans-serif;
$base: blue;
$border-radius: 3px;
$box-shadow: 10px 10px 5px #888;   
