@import "variables.scss";

html{
    background-color: $bgcolor;
    color:$color;
}

body{
    font-family: $font;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 50px;
}

header{
    grid-row: 1 / 2;
    background-color: $bgcolor;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    width: 100%;;

    & .header-logo{
        grid-column: 1 / 2;
        justify-items: start;
        display: flex;
        align-items: center;
    }

    & .header-buttons{
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > div{
            padding:15px;

            &:hover{
                background-color: $color;
                color: $colorinv;
                border-radius: $radius;
            }
        }
    }
}

main{
    grid-row: 2 / 3;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;

    & .section-title{
        width: 100%;
        align-self: flex-start;
        margin-top: 15px;

        & #top-text:after{  
            content: "5";
            font-weight: bold;
        }
    }
     
    & section {
        display: flex;
        width:100%;
    }

    & .top{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        & .top-item img{
            min-width: 225px;
        }
    }
    & .first, & .second{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        flex-wrap: wrap;
        
        & .item{
            flex-grow: 1;
            & img{
                width:100%;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

    }
}


@media screen and (max-width:1280px){
    header .platform-title{
        display:none;
    }

    main{
        & .section-title{
            & #top-text:after{  
                content: "3";
                font-weight: bold;
            }
        }
        & .top{
            display: flex;
            flex-direction: row-reverse;
            justify-content: stretch;
            flex-wrap: wrap-reverse;
            
            & .top-item:nth-child(-n+2){
                display:none;
            }

            & .top-item img{
                min-width: 225px;
            }
        }
    }
    
}
